body {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin: 0;
}

.header,
.one,
.footer {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    align-items: center;
    display: flex;
    padding: 12px 100px;
}

.one,
.two,
.three,
.four {
    display: flex;
    padding: 12px 100px;
    flex: 1 1 25%;
}

.headLeft {
    flex-grow: 2;
}

.headLogo {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #F9FAF8;
}

.headLink {
    margin: 10px;
    text-decoration: none;
}

.headLink.hover {
    text-decoration: underline;
}

.one {
    padding: 100px;
    justify-content: center;
    align-items: stretch;
    gap: 50px;
}

.one > * {
    flex-basis: 100%;
    max-width: 450px;
}

.hypeText {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

.hypeSubtext {
    margin: 0;
}

.heroSignup,
.callToAction,
.actionSignup {
    background-color: #3882F6;
    color:#F9FAF8;
}

.heroSignup {
    margin: 10px 0;
    padding: 5px 20px;
    border: 0;
    border-radius: 5px;
}

.heroImg {
    height: auto;
    width: 450px;
}

.two {
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    align-content: center;
}

ul {
    list-style-type: none;
}

.infoText {
    flex-basis: 100%;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937
}

.infoGraphic {
    flex-basis: 25%;
}

.subText {
    font-size: 18px;
    color: #1F2937;
}

.three {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.footer {
    justify-content: center;
}